/* mobile viewport */
@media only screen and (min-width:120px) and (max-width:480px){
    header{
        width:720px;
    }
    #icon1{
        margin-left: 150px;
        font-size:72px;
    }
    form,[class*="shopping"],[class*="user"]{
        display:none;
    }
    .sec_1{
        width:100%;
        display: flex;
        flex-direction:column;
    }
    .sec_1>div{
        width:100%;
        padding:60px 10px;
        transform: scale(1.5);
    }
    .sec_2{
        display: flex;
        flex-direction: column;
        position: relative;
        right:150px;
        bottom: 150px;
    }
    .sec_3{
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    div~.content3{
        font-size:20px;
        top: 650px;
        left: 150px;
    }
    .sec_4{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 250px;
        left: 120px;
    }
    .sec_5{
        display: block;
        width: 600px;
    }
    .sec_5 img{
        top: 250px;
        left: 60px;
        width:100%;   
    }
    .sec_5 nav{
       display: none;
    }
    .background5{
       display: none;
    }
    .sec_6{
        width:100%;
        top: 250px;
        left: 190px;  
        display:flex;
        flex-direction: column;
        align-items: start;
    }
    .content_6{
        margin-top: 50px;
        
    }
    .form_6{
        display: block;
    }
    .head_6{
        justify-content: space-evenly;
    }
    .sec_7{
        top: 300px;
        left: 100px;
        text-align: center;
    }
    .sec_7>p,.sec_7>h3{
        position: relative;
        left: 125px;
    }
    .ele_7{
        position: relative;
        left: 125px;
    }
    .sec_8{
        display: flex;
        flex-direction: column;
        top: 300px;
        align-items: center;
        width: 100%;
    }
    .sub_A{
        display: block;
        left: 150px;
    }
    .sub_B{
        display: block;
        left: 150px;
    }
    .sub_A .memory{
       left: 75px;
    }
    .sec_9{
        top: 350px;
        left: 70px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .sec_9>div{
        margin-top: 50px;
    }
    .sec_10{
        top:300px;
        left: 200px;
        flex-direction: column;
        align-items: center;
    }
    .footer_1{
        justify-content: center;
        align-items: end;
        top: 250px;
        left: 200px;
    }
    .footer_1>div input{
        left: 50px;
        bottom: 75px;
    }
    .footer_1 label{
        position: relative;
        bottom: 75px;
        left: 50px;
    }
    nav>[class="fa-solid fa-paper-plane"]{
        display: none;
    }
    .footer_2{
        left: 210px;
        top: 200px;
    }
    .footer_2>div{
        width: 500px;
        display: flex;
        justify-content: space-around;
    }
    .footer_3{
        width: 100%;
        top: 150px;
        left: 175px;
    }
    .footer_2 i{
        position: relative;
        top: 20px;
    }
}
/* Tablet viewport */
@media only screen and (min-width:480px) and (max-width:780px){
    header{
        width:1040px;
    }
    #icon1{
        margin-left: 150px;
        font-size:72px;
    }
    form,[class*="shopping"],[class*="user"]{
        display:none;
    }
    .sec_1{
        width:100%;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .sec_1>div{
        width:100%;
        padding:60px 10px;
        transform: scale(1);
    }
    .sec_2{
        display: flex;
        flex-direction:column;
        position: relative;
        left: 50px;
        bottom: 150px;
    }
    .sec_3{
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .sec_3 img{
        width: 950px;
    }
    div~.content3{
        font-size:20px;
        top: 700px;

    }
    .sec_4{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 250px;
        left: 120px;
    }
    .sec_5{
        display: block;
        width: 1040px;
    }
    .sec_5 img{
        top: 250px;
        width:100%;   
    }
    .sec_5 nav{
       display: none;
       
    }
    .background5{
       display: none;
       top: 50px;
       right: 150px;
    }
    .sec_6{
        width:100%;
        top: 300px;
        left: 150px;  
        display:flex;
        flex-direction: row;
    }
    [alt="pricing-5"]{
        width: 100px;
    }
    .form_6{
        display: block;
    }
    .head_6{
        justify-content: space-evenly;
    }
    .sec_7{
        top: 350px;
        left: 150px;
        text-align: center;
    }
    
    .sec_8{
        display: flex;
        flex-direction: row;
        top: 350px;
        align-items: center;
        width: 100%;
    }
    .sub_A{
        display: block;
        width: 100%;
    }
    .sub_B{
        display: block;
        width: 100%;
        left: 150px;
        bottom: 150px;
    }
    .sub_A .memory{
       left: 75px;
    }
    .sec_9{
        top: 350px;
        left: 70px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .sec_9>div{
        margin-top: 50px;
    }
    .sec_10{
        top:300px;
        left: 150px;
        flex-direction: row;
        align-items: center;
    }
    .footer_1{
        justify-content: space-evenly;
        align-items: center;
        top: 300px;
        left: 150px;
    }
    .footer_1>div input{
        left: 50px;
    }
    .footer_1 label{
        position: relative;
        
        left: 50px;
    }
    nav>[class="fa-solid fa-paper-plane"]{
        display: none;
    }
    .footer_2{
        left: 85px;
        top: 275px;
        width: 100%;
    }
    .footer_2>div{
        display: flex;
        justify-content: space-around;
    }
    .footer_3{
        width: 100%;
        top: 200px;
        left: 125px;
    }
    
} 
/* media querye ends here */
.footer_3 li>a:hover{
    color: rgb(131, 0, 55);
}
.ele_7>img:hover{
    cursor: pointer;
    background-color:white;
    box-shadow: 2px 15px 8px rgb(196, 196, 196);
}
.images>img:hover{
    cursor: pointer;
    box-shadow: 2px 15px 8px rgb(129, 129, 129);
}
#icon1:hover+.header_ul{
    display: block;
}
.sub_B>input:hover{
    background-color: rgb(0, 88, 123);
}
.sub_B>input:last-child:hover{
    background-color: rgb(155, 0, 0);
}
.header_ul{
    position: absolute;
    top:60px;
    left: 450px;
    display: none;
    line-height: 30px;
    background-color: white;
    width:350px;
} 
.table{
    background-color: white;
    width:370px;
    position: absolute;
    top: 75px;
    left: 1000px;
    display: none;
}
#cart1:hover +.table{
    display: block;
}
.navbar>i:last-child:hover ~.table{
    display: block;
}
header{
    height: 565px;
    background-image:url('./Assets/banner-2.jpg');
    background-size: cover;
    
}
#icon1{
    margin-top: 15px;
    font-size:25px;
    cursor: pointer;
}
[class*="shopping"],[class*="user"]{
    cursor: pointer;
    margin-top: 18px;
    padding-right: 20px;
}
.form_header{
    margin-top: 15px;
    width:550px ;
}
.form_header>select{
    height:30px;
    width:85px;
}
.form_header>select~input{
    margin-left:-5px;
    height:30px;
    width:400px;
}
.form_header i{
    margin-left:-5px;
    font-size:15px;
    background-color: rgb(82, 82, 255);
    padding:7px;
    color: white;
}
.navbar{
    position: sticky;
    background-color: white;
    padding:10px 260px;
    /* width:950px; */
    display: flex;
    justify-content: space-evenly;
}
.content_header{
    position: relative;
    top:160px;
    width:300px;
    padding:20px;
    background-color: rgb(236, 236, 236);
}
.content_header>a{
    text-decoration: none;
    font-size:10px;
}
.sec_1 i{
    color: rgb(0, 0, 123);
    font-size:45px;
}
p~a{
    text-decoration: none;
    font-size:10px;
}
.sec_1{
    background-color: rgb(249, 249, 249);
    padding:100px 145px;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
}
.sec_2{
    display: flex;
    justify-content: center;
    padding:100px;
}
.element2{
    background-color:rgb(249, 249, 249);
    height:510px;
    margin-right:25px;
}
.media_2{
    height:100px;
    width: 200px;
    text-align: center;
    padding:5px;
    background-color: rgb(9, 0, 0);
    color: white;
    position: relative;
    bottom:145px;
    left:195px;
}
.media_2>a{
    color: white;
    font-size:15px;
    background-color:rgb(254, 81, 81);
    height:25px;
    padding:5px;
    position: relative;
    top:10px;
}
.media_2>p{
    font-size:10px;
}
.sec_3{
    background-color: rgb(237, 237, 237);
    display: grid;
    grid-template-columns: 50% 50%;
}
div~.content3{
    font-size:20px;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 480px;
}
.content_4{
    line-height:25px;
    margin-right: 15px;
    width:380px;
    padding:10px;
    height:150px;
    background-color:rgb(238, 238, 238);
}
p>b{
    font-size:25px;
    color: red;
}
p~button{
    cursor: pointer;
    background-color: rgb(48, 48, 255);
    border: none;
    text-align: center;
    font-size: 17px;
    color: white;
    height:40px;
    width: 175px;
    position: relative;
    top: -50px;
    left: 200px;
}
.sec_4{
    display: flex;
    justify-content: space-evenly;
    padding:80px 250px;
    position: relative;
}
.sec_5 img{
    position: relative;
    width: 100%;   
}
.background5{
    height:170px;
    width:350px;
    background-color: black;
    opacity:0.5;
    position: relative;
    bottom: 450px;
    left: 540px;
}
.sec_5 nav{
    height:1px;
    font-size:30px;
    text-align: center;
    width:200px;
    position: relative;
    top: -620px;
    left:620px;
    color: white;
}
.sec_5 nav a{
    color: aquamarine;
}
.content_6{
    box-shadow:5px 10px 8px rgb(202, 202, 202);
    background-color: rgb(243, 242, 242);
    padding: 20px;
    display: grid;
    grid-template-rows:20% 30% 50% ;
    align-items: center;
    width: 300px;
    height: 450px;
    margin-right:20px;
}
[alt="pricing-5"]{
    position: relative;
    left: 65px;
    top: 20px;
}
.form_6{
    line-height:25px;
}
.form_6>input:last-child{
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    background-color: blue;
}
.head_6{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.head_6>nav {
    font-size:20px;
    line-height:10px;
}
.sec_6{
    width:100%;
    position: relative;
    bottom: 100px;
    display:flex;
    justify-content:space-evenly;
}
.sec_7{
    position: relative;
    text-align: center;
}
.sub_A{
    position: relative;
}
.sub_A nav{
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}
.sub_A .memory{
    position: relative;
    left: 170px;
    background-color: white;
    border: none;
    padding: 10px;
    width:60px;
}
[name="quan"]{
    width: 75px;
    position: relative;
    left: 250px;
}
.sub_B{
    position: relative;
    top: 120px;
    right:100px;
}
.sub_B>span{
    font-size: 35px;
}
.sub_B strike{
    color: gray;
    font-size:30px;
}
.sub_B>input{
    cursor: pointer;
    font-weight: bold;
    width:150px;
    padding:9px;
    background-color: rgb(87, 87, 255);
    color: white;
    border: none;
    border-radius: 5px;
}
.sub_B>input:last-child{
    cursor: pointer;
    width:130px;
    background-color:rgb(255, 98, 98);
}
.sec_8{
    /* background-color: rgb(249, 249, 249); */
    padding:50px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.sec_9 div{
    box-shadow: 8px 15px 10px rgb(225, 225, 225);
    border: 4px solid rgb(245, 245, 245);
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
}
.sec_9{
    position: relative;
    padding:90px;
    display: flex;
    justify-content: space-evenly;
}
.content_10>i{
    color: white;
    background-color: rgb(65, 65, 255);
    border-radius:100%;
    padding:30px;
    font-size:25px;
}
.content_10>span{
    font-weight: bold;
    font-size:30px;
}
.content_10{
    border: 4px solid rgb(240, 240, 240);
    padding:10px;
    margin: 15px;
    width: 200px;
    text-align: center;
}
.sec_10{
    position: relative;
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: ;
}
.footer_1>div input{
    position: relative;
    right: 75px;
    z-index:1;
    padding:8px 25px;
    width:250px;
}
.footer_1 nav>[class="fa-solid fa-user"]{
    position: relative;
    right: 30px;
    padding-left: 25px;
    z-index:2;
    color: gray;
}
nav>[class="fa-solid fa-paper-plane"]{
    cursor: pointer;
    position: relative;
    top: 2px;
    right: 80px;
    font-size: 18px;
    background-color: rgb(62, 62, 255);
    padding: 9px;
    color: white;
}
.footer_2{
    position: relative;
    font-size: 20px;
    padding: 75px;
    display: flex;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;
}
.footer_2 i{
    padding-left: 5px;
    font-size: 25px;
    color: rgb(0, 0, 167);
    cursor: pointer;
}
[alt="payment"]{
    position: relative;
    top: 5px;
}
.footer_3{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    text-decoration: none;
    list-style: none;
    line-height: 20px;
}
li b{
    font-size: 15px;
    color: black;
}
.footer_3 li>a{
    text-decoration: none;
    color: rgb(0, 71, 130);
    font-size: 25px;
}